# Complete Each Exercise

This is not graded, but important for learning Python. This is the learn by doing portion of the lecture. It is important to keep in mind that there are several ways to solve each of these exercises.

## 0) Conditional Logic 

1. Declare and assign a variable num to an integer value. 
2. Write a series of if, elif, else statements that will print the num you assigned. But for multiples of three print "Fizz" instead of the number and for the multiples of five print "Buzz". For numbers which are multiples of both three and five print "FizzBuzz".

In [6]:
num = 15

if num % 3 == 0 and num % 5 == 0:
    print("FizzBuzz")
elif  num % 3 == 0:
    print("Fizz")
elif num % 5 == 0:
    print("Buzz")
else:
    print(num)

FizzBuzz

## 1). FizzBuzz

Write a program that prints the numbers from 1 to 20. But for multiples of three print “Fizz” instead of the number and for the multiples of five print “Buzz”. For numbers which are multiples of both three and five print “FizzBuzz”.

In [9]:
for num in range (1,20): 
    if num % 3 == 0 and num % 5 == 0:
        print("{} FizzBuzz".format(num))
    elif  num % 3 == 0:
        print("{} Fizz".format(num))
    elif num % 5 == 0:
        print("{} Buzz".format(num))

3 Fizz
5 Buzz
6 Fizz
9 Fizz
10 Buzz
12 Fizz
15 FizzBuzz
18 Fizz

## 2). Generate Prime Numbers
Write a program to generate a <b>list</b> of all prime numbers less than 20.
Before starting it is important to note what a prime number is.
1. A prime number has to be a positive integer
2. Divisible by exactly 2 integers (1 and itself)
3. 1 is not a prime number

In [65]:
prime = []

for num in range (2,21): 
    
    isPrime = True
    for i in range (2,num):
        if num % i == 0 and num % 1 == 0:
            isPrime = False
            break
    if isPrime:
        prime.append(num)

print(prime)

[2, 3, 5, 7, 11, 13, 17, 19]

In [ ]:
lis = [] for i in range(1,50):     lis.append(i)     for j in range(2,i-1):         if(i%j==0):             lis.pop()             break  print(lis)lis = [] for i in range(1,50):     lis.append(i)     for j in range(2,i-1):         if(i%j==0):             lis.pop()             break  print(lis)

## 3). Fibonacci Sequence

Fibonacci sequence is an integer sequence characterized by the fact that every number after the first two is the sum of the two preceding ones. By definition, the first two numbers in the Fibonacci sequence are either 1 and 1 (<b>which is how I like to code it</b>), or 0 and 1, depending on the chosen starting point of the sequence, and each subsequent number is the sum of the previous two.

In [16]:

def recur_fibo(n):
    if n <= 1:
        return n
    else:
        return(recur_fibo(n-1) + recur_fibo(n-2))

    
for i in range(20):
       print(recur_fibo(i))

0
1
1
2
3
5
8
13
21
34
55
89
144
233
377
610
987
1597
2584
4181

## 4). Word Count

For the text in the variable <b>text</b>, count how many times each word occurs

In [2]:
# Multiple line string
text="""Mr. Collins returned into Hertfordshire soon after it had been quitted by the Gardiners and Jane; but as he took up his abode with the Lucases, his arrival was no great inconvenience to Mrs. Bennet. His marriage was now fast approaching, and she was at length so far resigned as to think it inevitable, and even repeatedly to say, in an ill-natured tone, that she "wished they might be happy." Thursday was to be the wedding day, and on Wednesday Miss Lucas paid her farewell visit; and when she rose to take leave, Elizabeth, ashamed of her mother's ungracious and reluctant good wishes, and sincerely affected herself, accompanied her out of the room. As they went downstairs together, Charlotte said:"""

In [3]:
print(text)

Mr. Collins returned into Hertfordshire soon after it had been quitted by the Gardiners and Jane; but as he took up his abode with the Lucases, his arrival was no great inconvenience to Mrs. Bennet. His marriage was now fast approaching, and she was at length so far resigned as to think it inevitable, and even repeatedly to say, in an ill-natured tone, that she "wished they might be happy." Thursday was to be the wedding day, and on Wednesday Miss Lucas paid her farewell visit; and when she rose to take leave, Elizabeth, ashamed of her mother's ungracious and reluctant good wishes, and sincerely affected herself, accompanied her out of the room. As they went downstairs together, Charlotte said:

### Subtasks

#### a. String Manipulation: Remove Punctuation, make all text lower()

In [23]:
import string
newText = text.translate(text.maketrans('', '', string.punctuation)).lower()
newText

'mr collins returned into hertfordshire soon after it had been quitted by the gardiners and jane but as he took up his abode with the lucases his arrival was no great inconvenience to mrs bennet his marriage was now fast approaching and she was at length so far resigned as to think it inevitable and even repeatedly to say in an illnatured tone that she wished they might be happy thursday was to be the wedding day and on wednesday miss lucas paid her farewell visit and when she rose to take leave elizabeth ashamed of her mothers ungracious and reluctant good wishes and sincerely affected herself accompanied her out of the room as they went downstairs together charlotte said'

#### b. String Manipulation: Split each word into a element in a list

In [25]:
text.split()

['Mr.',
 'Collins',
 'returned',
 'into',
 'Hertfordshire',
 'soon',
 'after',
 'it',
 'had',
 'been',
 'quitted',
 'by',
 'the',
 'Gardiners',
 'and',
 'Jane;',
 'but',
 'as',
 'he',
 'took',
 'up',
 'his',
 'abode',
 'with',
 'the',
 'Lucases,',
 'his',
 'arrival',
 'was',
 'no',
 'great',
 'inconvenience',
 'to',
 'Mrs.',
 'Bennet.',
 'His',
 'marriage',
 'was',
 'now',
 'fast',
 'approaching,',
 'and',
 'she',
 'was',
 'at',
 'length',
 'so',
 'far',
 'resigned',
 'as',
 'to',
 'think',
 'it',
 'inevitable,',
 'and',
 'even',
 'repeatedly',
 'to',
 'say,',
 'in',
 'an',
 'ill-natured',
 'tone,',
 'that',
 'she',
 '"wished',
 'they',
 'might',
 'be',
 'happy."',
 'Thursday',
 'was',
 'to',
 'be',
 'the',
 'wedding',
 'day,',
 'and',
 'on',
 'Wednesday',
 'Miss',
 'Lucas',
 'paid',
 'her',
 'farewell',
 'visit;',
 'and',
 'when',
 'she',
 'rose',
 'to',
 'take',
 'leave,',
 'Elizabeth,',
 'ashamed',
 'of',
 'her',
 "mother's",
 'ungracious',
 'and',
 'reluctant',
 'good',
 'wishes,',
 'and',
 'sincerely',
 'affected',
 'herself,',
 'accompanied',
 'her',
 'out',
 'of',
 'the',
 'room.',
 'As',
 'they',
 'went',
 'downstairs',
 'together,',
 'Charlotte',
 'said:']

#### c. Count how many times each word occurs in a list using a dictionary

In [26]:
dict_count = {}
words = text.split()

for word in words:
    if word in dict_count:
        dict_count[word] += 1
    else:
        dict_count[word] = 1

print (dict_count.items())

dict_items([('Mr.', 1), ('Collins', 1), ('returned', 1), ('into', 1), ('Hertfordshire', 1), ('soon', 1), ('after', 1), ('it', 2), ('had', 1), ('been', 1), ('quitted', 1), ('by', 1), ('the', 4), ('Gardiners', 1), ('and', 7), ('Jane;', 1), ('but', 1), ('as', 2), ('he', 1), ('took', 1), ('up', 1), ('his', 2), ('abode', 1), ('with', 1), ('Lucases,', 1), ('arrival', 1), ('was', 4), ('no', 1), ('great', 1), ('inconvenience', 1), ('to', 5), ('Mrs.', 1), ('Bennet.', 1), ('His', 1), ('marriage', 1), ('now', 1), ('fast', 1), ('approaching,', 1), ('she', 3), ('at', 1), ('length', 1), ('so', 1), ('far', 1), ('resigned', 1), ('think', 1), ('inevitable,', 1), ('even', 1), ('repeatedly', 1), ('say,', 1), ('in', 1), ('an', 1), ('ill-natured', 1), ('tone,', 1), ('that', 1), ('"wished', 1), ('they', 2), ('might', 1), ('be', 2), ('happy."', 1), ('Thursday', 1), ('wedding', 1), ('day,', 1), ('on', 1), ('Wednesday', 1), ('Miss', 1), ('Lucas', 1), ('paid', 1), ('her', 3), ('farewell', 1), ('visit;', 1), ('when', 1), ('rose', 1), ('take', 1), ('leave,', 1), ('Elizabeth,', 1), ('ashamed', 1), ('of', 2), ("mother's", 1), ('ungracious', 1), ('reluctant', 1), ('good', 1), ('wishes,', 1), ('sincerely', 1), ('affected', 1), ('herself,', 1), ('accompanied', 1), ('out', 1), ('room.', 1), ('As', 1), ('went', 1), ('downstairs', 1), ('together,', 1), ('Charlotte', 1), ('said:', 1)])

## 5). Calculating a Monthly Car Payment

Your monthly payment, also called your Equated Monthly Installment (EMI) is defined by [Investopedia](https://en.wikipedia.org/wiki/Investopedia) as a fixed payment amount made by a borrower to a lender at a specified date each calendar month. Equated monthly installments are used to pay off both interest and principal each month, so that over a specified number of years, the loan is paid off in full.

A monthly payment can be calculated using an EMI formula similar to the one below.

![](images/EMI_formula.png)

Say I buy want to buy a 2019 Toyota Sienna for $31,115. I am curious how much it will cost me each month if I decide on taking out a loan to buy this new vehicle. A car dealer offers me a fixed interest rate of 7.02% over a 60 month term. How much would a monthly car payment be assuming the sales tax rate is 7.5%?

In [45]:
EMI = round(float(31115 *( (0.0702*(1+0.0702)**60) / ((1+0.0702)**60 -1))) ,4)
tax = round(monthly_payment * 0.075,4)
EMI_with_tax = EMI + tax

print(f"EMI = {EMI} and the tax = {tax} \nSo, total monthly payment is {EMI_with_tax} ")

EMI = 2222.1945 and the tax = 166.6646
So, total monthly payment is 2388.8591

While this is a simplified and relatively accurate calculation (except for the sales tax being an assumption), more accurate calculations require work. Data Analytics/Science is about communicating results. We really do need how to do something more complicated (how much in total interest are we paying, how do we visualize this. This is what we will explore in future lectures)

### Challenge Question: Calculate Total Interest Paid Over the Course of a Loan

This requires knowing a few things. It is often the case

1-) The first thing is to calculate how much of the monthly payment will be paid towards interest in a month.

Interest paid

$$r*P$$ where r/12 is the interest rate (APR) and P is the principal

In [48]:
Interest_paid = 0.0702 * 31115
Interest_month = Interest_paid / 12
Interest_month

182.02275

2-) Each month, some of the monthly payment is paid towards principal and some towards interest. As principal lowers, to work out the interest you pay in the following months, you need to first calculate your new principal.

In [59]:
principal_month = round(31115/12 ,4)
# principal_month += principal_month *  0.075
principal_month

2592.9167

3-) Repeat steps 1 and 2 until the principal reaches 0.

In [64]:
principal = 31115
month = 0
while principal >= 0 :
    principal = principal - (principal_month + Interest_month)
    print (principal)
    month += 1

print (month)

28340.06055
25565.121099999997
22790.181649999995
20015.242199999993
17240.30274999999
14465.363299999992
11690.423849999992
8915.484399999992
6140.544949999992
3365.605499999992
590.6660499999916
-2184.2734000000087
12