for char in ':;-.,\n\"':
    text=text.replace(char, ' ')
text = text.lower()
text# Python Cheet Sheet

## Print Statement

In [35]:
print( 't' , end=', ')

t,

## String

In [19]:
# Multiple line string
text  = """Blackbird singing? in the dead of night Take these? broken wings and learn to fly All your life You were only waiting for this moment to arise"""

In [20]:
text.title()
text.lower()
text.upper()

'BLACKBIRD SINGING? IN THE DEAD OF NIGHT TAKE THESE? BROKEN WINGS AND LEARN TO FLY ALL YOUR LIFE YOU WERE ONLY WAITING FOR THIS MOMENT TO ARISE'

- Remove Punctuation

In [21]:
import string
text.translate(text.maketrans('', '', string.punctuation))

'Blackbird singing in the dead of night Take these broken wings and learn to fly All your life You were only waiting for this moment to arise'

In [23]:
# using reguler experation
for char in ':;-.,\n\"?':
    text=text.replace(char, '')
text

'Blackbird singing in the dead of night Take these broken wings and learn to fly All your life You were only waiting for this moment to arise'

- Split each word into a element in a list

In [ ]:
text.split()

In [ ]:
- Count how many times each word occurs in a list using a dictionary

In [24]:
dict_count = {}
words = text.split()

for word in words:
    if word in dict_count:
        dict_count[word] += 1
    else:
        dict_count[word] = 1

print (dict_count.items())

dict_items([('Blackbird', 1), ('singing', 1), ('in', 1), ('the', 1), ('dead', 1), ('of', 1), ('night', 1), ('Take', 1), ('these', 1), ('broken', 1), ('wings', 1), ('and', 1), ('learn', 1), ('to', 2), ('fly', 1), ('All', 1), ('your', 1), ('life', 1), ('You', 1), ('were', 1), ('only', 1), ('waiting', 1), ('for', 1), ('this', 1), ('moment', 1), ('arise', 1)])

In [38]:
# Concatenating strings
prefix = 'Py'
print(prefix + 'thon')

Python

## Lists

an ordered, do not need to be of the same type

In [25]:
# Define a list
z = [2312, False, "Manal", 2.3]

### index
The index method returns the first index at which a value occurs. In the code below, it will return 0.

In [44]:
random_list.index(343)

6

### Update

In [37]:
z[1] = "fish"

### Access Values in Lists

list :          2312, False, "Manal", 2.3

index:          0   ,  1   ,  2     , 3

negative index: -4  , -3   ,  -2    , -1

In [46]:
z[2]

'Manal'

In [47]:
z[-1]

2.3

### Count Method
Count the Number of Times a Value Occurs in a List

In [38]:
random_list = [4, 1, 5, 4, 10, 4, 343, 3,4,4,4,4]
random_list.count(4)

7

### Sort Method

In [50]:
random_list.sort()
random_list

[1, 3, 4, 4, 4, 4, 4, 4, 4, 5, 10, 343]

### Append Method
The append method adds an element to the end of a list. This happens inplace.

In [52]:
random_list.append(500)

### Remove

In [56]:
random_list.remove(3)  # (value) as parameter

ValueError: list.remove(x): x not in list

In [58]:
random_list.pop(0) # (index) as parameter

[4, 4, 4, 4, 4, 5, 10, 343, 500, 500]

### Extend Method
The method extends a list by appending items. The benefit of this is you can add lists together.

In [59]:
random_list.extend([4,5])

### Insert Method

In [60]:
random_list.insert(4, [1, 2]) # ( index, value)

## Tuples
The main difference between tuples and lists is that tuples cannot be changed (immutable)

In [65]:
# tuples can be defined with or without parenthesis
tub1 = (3, 7, 4, 2)
print(z)
tub2 = z = 2, 3, 7, 4, 2
print(z1)

(2, 3, 7, 4, 2)
(2, 3, 7, 4, 2)

### Append

In [ ]:
print (tub1 + tub2)

### Tuple unpacking

In [66]:
a, b, c, d = (3, 7, 4, 2)

# X_train, X_test, Y_train, Y_test = train_test_split(df[data.feature_names], df['target'], random_state=0)

## Dictionary

In [48]:
dict = {"country": ["Brazil", "Russia", "India", "China", "South Africa"],
       "capital": ["Brasilia", "Moscow", "New Dehli", "Beijing", "Pretoria"],
       "area": [8.516, 17.10, 3.286, 9.597, 1.221],
       "population": [200.4, 143.5, 1252, 1357, 52.98] }

In [3]:
dict.keys()
dict.values()
dict.items()

dict_items([('country', ['Brazil', 'Russia', 'India', 'China', 'South Africa']), ('capital', ['Brasilia', 'Moscow', 'New Dehli', 'Beijing', 'Pretoria']), ('area', [8.516, 17.1, 3.286, 9.597, 1.221]), ('population', [200.4, 143.5, 1252, 1357, 52.98])])

### Access Values in a Dictionary

In [14]:
dict['country']

['Brazil', 'Russia', 'india', 'China', 'South Africa']

### Add or Update Key

In [79]:
dict['currency'] = 'SAR'  # if the key doen't exist, it will add it

In [ ]:
dict['country']

In [ ]:
# webstersDict.update({'ran': 'past tense of run',
#                     'shoes': 'plural of shoe'})

## Delete Key from Dictionary

In [85]:
# Remove the key 'currency' from the dictionary

del dict["currency"] 
dict.pop('currency')
dict.pop() #  removes the last item in a list

KeyError: 'currency'

## Data Frame

- Convert dictionary to dataframe

In [ ]:
import pandas as pd
brics = pd.DataFrame(dict)

### Change Index

In [ ]:
# Set the index for brics "BR", "RU", "IN", "CH", "SA"
brics.set_index([["BR", "RU", "IN", "CH", "SA"]], inplace=True)

### Select column in dataframe

you can use square brackets to select one column of the cars DataFrame. You can either use a single bracket or a double bracket. The single bracket with output a Pandas Series, while a double bracket will output a Pandas DataFrame.

In [ ]:
brics.country

# Print out country column as Pandas DataFrame
brics[['country']]

# Print out DataFrame with country and drives_right columns
brics[['country','capital']]

In [ ]:
brics.loc['SA']['area']

In [ ]:
brics['population'] = np.nan

### Slicing
Access specific observations (rows) from a DataFrame

- using square brackets

In [35]:
# Print out first 4 observations
brics[:4]

# Print out fifth and sixth observation
brics[4:6]

# everything up to index 3
brics[:3]

# index 1 to end of list
brics[1:]

   country    capital    area  population
BR  Brazil   Brasilia   8.516       200.4
RU  Russia     Moscow  17.100       143.5
IN   India  New Dehli   3.286      1252.0

- using loc and iloc

You can also use loc and iloc to perform just about any data selection operation. loc is **label-based**, which means that you have to specify rows and columns based on their row and column labels. iloc is integer index based, so you have to specify rows and columns by their **integer index** like you did in the previous exercise.

In [31]:
# Print out observation for Japan
brics.loc['SA']
brics.iloc[2]

# Print out observations for Australia and Egypt
brics.loc[['BR', 'RU']]
brics.iloc[[1,3],]


brics.loc[['IN']]['country']

   country  capital    area  population
RU  Russia   Moscow  17.100       143.5
CH   China  Beijing   9.597      1357.0

- Getting n maximum values in a column

In [ ]:
brics.nlargest(5, ['area'])

## Booleans and Conditional Logic

and , or , not

In [32]:
num = 21
if num > 50 and num  < 100:
    print('num is larger than 50')
elif num == 21:
    print('num = 21!!!')
else:
    print('Catchall condition')

num = 21!!!

## Loop

The enumerate function returns a tuple containing a count for every iteration (from start which defaults to 0) as well as the corresponding value obtained from iterating over a sequence:

In [ ]:
dataScienceTools = ['Python', 'R', 'SQL', 'Git']
for index, tool in enumerate(dataScienceTools):
    print(index, tool)

In [15]:
# For loop with range
dataScienceTools = ['Python', 'R', 'SQL', 'Git']
for i in range(len(dataScienceTools)):
    print(dataScienceTools[i])

Python
R
SQL
Git

In [36]:
# List comprehensions¶

numbers = [x for x in range(1,11)]
numbers

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

# NumPy

In [40]:
import numpy as np

In [ ]:
### Built in help

Place your cursor after the period and press <TAB>:
> np.

Replace 'add' below with a few different NumPy function names and look over the documentation:
> np.add?

### list
unlike Python lists, NumPy constrains arrays to contain a single type

In [ ]:
# Create numpy array:
np.array([1, 4, 2, 5, 3])

### Random

In [45]:
# Create an array of five values evenly spaced between 0 and 1
np.linspace(0, 1, 5)

array([0.  , 0.25, 0.5 , 0.75, 1.  ])

In [46]:

# Create a 3x3 array of random integers in the interval [0, 10)
np.random.randint(0, 10, (3, 3))

array([[7, 6, 4],
       [5, 8, 3],
       [2, 5, 2]])